<h2>Sign in to DC Brew Circuit</h2>
<%= form_for @user, url: session_path do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign In" %>
<% end %>
