

<div class = "quotes">
  <% @quotes.each do |quote| %>
  <blockquote>
    <%= quote.text %> <br>
    -<%= quote.author %> <br>
  </blockquote>
  <%end%>

</div>

<div class = "assorted_breweries">

  <% @breweries.each do |brewery| %>

  <div class = "random_brewery">
    <a href="/breweries/<%= brewery.id %>">
      <h2><%= brewery.name %></h2>
      <%= image_tag(brewery.photo_url, class:"homepage_photo") %>
    </a>
  </div>

  <%end%>

</div>
