

<h2> <% @beer.name %> </h2>
<h3> <% @beer.style %> </h3>

<br>
<h3> Reviews </h3>


<% if @beer.reviews.any? %>
  <% @beer.reviews.each do |review| %>
    <%= review.created_at%>
    <%= review.user%>
    <p><%= review.body%></p>
   <%= link_to "edit", edit_brewery_beer_review_path(@brewery, @beer, review) if @current_user %> | <%= link_to "delete", brewery_beer_review_path(@brewery, @beer, review), method: :delete, data:{confirm: 'are you sure?'} if @current_user %>


  <% end%>
<% else %>
  <p> No Reviews Yet!</p>
<% end %>

<% if @current_user %>

  <%= form_for ([@brewery, @beer, @review]) do |f| %>

    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.submit %>

  <% end%>

<% end %>
