<!DOCTYPE html>
<html lang="en">
<head>
  <title>DC Brew Circuit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <nav class="main-nav">
      <ul>
        <li><a href = "/"> Home </a></li>
        <li><a href="/breweries">Breweries</a></li>
        <% if user_signed_in? %>
        <li>   <%= link_to "Favorites", favorite_beers_path  %> </li>
        <li>   <%= link_to "Route", added_breweries_path  %> </li>
        <li>   <%= link_to "Logout", destroy_user_session_path, method: :delete  %> </li>
        <% else %>
        <li>   <%= link_to "Sign up", new_user_registration_path %> </li>
        <li>   <%= link_to "Login", new_user_session_path %> </li>
        <% end %>
      </ul>
    </nav>

    <div class ="right_align">
      <p class = 'welcome'>  <% if user_signed_in? %>
        Logged in as <strong><%= current_user.name %></strong>.</p>
        <p class = "edit"><%= link_to 'Edit Profile', edit_user_registration_path%> </p>
        <%end%>

        <p><% if notice %>
          <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </p>
      </div>
    </header>
    <div id = "banner"><a href = "/"><h1>DC Brew Circuit</h1></a></div>

    <%= yield %>

    <footer>
      <div class = "quotes">
        <% @quotes.each do |quote| %>
        <blockquote>
          <%= quote.text %> <br>
          -<%= quote.author %> <br>
        </blockquote>
        <%end%>
      </div>
    </footer>

  </body>
  </html>
